@import "tailwindcss";

body {
  background-color: #f6f7f8;
}

header {
  background-color: black;
}

h1 {
  color: white;
}

h2 {
  color: black;
  font-size: 24px;
  font-weight: bold;
}

#historico {
  max-height: 200px; /* Limita a altura do histórico */
  overflow-y: auto; /* Adiciona rolagem se necessário */
  z-index: 1000; /* Garante que o histórico fique acima de outros elementos */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona sombra para destaque */
}
